
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  perspective-origin-x: 100%;
  background-color: #76B7F4;
}

.parallax_group{
  position: relative;
  height: 100vh;
  transform-style: preserve-3d
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}


.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 1;
  left: 1;
  transform-origin-x: 100%;
}

.parallax_layer1 {
  transform: translateZ(-0.01px) scale(1);
  width: -300px;
  }

.parallax_layer2 {
  transform: translateZ(-4px) scale(5);
  height: 72vh;
  width: -20px;

}

.parallax_layer3 {
  transform: translateZ(-2.5px) scale(3.5);
  height: 85vh;
  width: -10px;
  }
  .parallax_layer4 {
  transform: translateZ(-0.99px) scale(2.3);
  transform: translateY(500px);
  transform: translateX(-800px);
  margin-top: 230px;
  }

.navbar {
  overflow: hidden;
  background-color: black;
  float: top;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 0px 100px;
  text-decoration: none;
  margin-left: 0;
}
.second_navbar {
  overflow: hidden;
  background: url("bg-wool-dark.png");
  float: bottom;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 0px 100px;
  text-decoration: none;
  margin: 0;

}

.static {
  position:absolute;
  transform: translateX(-400px);
  margin-top: 50px;
}






.ContentContainer {
  position: relative;
  background-color: white;
  padding-left: 200px;
  padding-right: 200px;
}
