<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Spheres Of Elements</title>
	<link rel="stylesheet" href="estilo.css">
</head>
<body>
	<div class="header">
		<h1>Spheres Of Elements</h1>
		<p>Ryunosuke, Shiro y Chojuro</p>
	</div>
	<div class="menu">
		<a href="layout.html">Inicio</a>
		<a href="Personajes.html">Personajes</a>
		<a href="Episodios.html">Episodios</a>
		<a href="Staff.html">Staff</a>
	</div>
	<div class="contenido">
		<div class="izquierda">
			<div class="item">
				<h2>Personajes:</h2>
				<h3>Chojuro Rakurai</h3>
				<h4>Edad: 13 años.<br>
				Elemento: Electricidad.<br>
				Color favorito: Rojo.<br>
				<br></h4>
				<h3>Shiro Matsuyama</h3>
				<h4>Edad: 13 años.<br>
				Elemento: Hielo.<br>
				Color favorito: Blanco</h4>
				<h3>Ryunosuke Takeshi</h3>
				<h4>Edad: 14 años.<br>
				Elemento: Fuego.<br>
				Color favorito: Naranja.</h4>
				<img src="" alt="" class="imagen">
			</div>
		</div>
		<div class="derecha">
			<div class="item">
				<h2>Informacion</h2>
				<img src="html.png" alt="" width="100px">
			</div>
		</div>
	</div>
	<div class="footer">
		<h2>&copy; 2019</h2>
	</div>
</body>
</html>