
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  perspective-origin-x: 100%;
}

.parallax_group{
   position: relative;
  height: 100vh;
  transform-style: preserve-3d
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}


.parallax_layer {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%;
}

.parallax_layer1 {
  transform: translateZ(0px) scale(1);
  position: relative; 
  }

.parallax_layer2 {
  transform: translateZ(-1px) scale(2);
  position: relative; 

}

.parallax_layer3 {
  transform: translateZ(-2px) scale(3);
 

  }