<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Spheres Of Elements</title>
	<link rel="stylesheet" href="estilo.css">
</head>
<body>
	<div class="header">
		<h1>Spheres Of Elements</h1>
		<p>Ryunosuke, Shiro y Chojuro</p>
	</div>
	<div class="menu">
		<a href="layout.html">Inicio</a>
		<a href="Personajes.html">Personajes</a>
		<a href="Episodios.html">Episodios</a>
		<a href="Staff.html">Staff</a>
	</div>
	<div class="contenido">
		<div class="izquierda">
			<div class="item">
				<h2>Sinopsis:</h2>
				<h4>Al inicio del universo, cuando nada habia sido creado, existia un solo ser el cual es el dios que creo toda la vida en el universo, despues de un tiempo de observar la vida en la tierra, se dio cuenta que nadie lo necesitaba, que su existencia era innecesaria, asi que decidio separarse en los 4 elementos, el fuego, el auga, la tierra y el aire, estos elementos reencarnaron en 4 personas y 4 esferas, estas 4 personas entrenaron hasta controlar ala perfeccion su respectivo elemento, pero se dieron cuenta que son demasiado poderosas, asi que igual que el dios decidieron separarse, pero esta vez en 12 elementos con su propia esfera cada elemento, y esta historia inicia en el 2030 con nuestros 3 heroes que controlan cada uno el fuego, la electricidad y el hielo.</h4>
				<img src="" alt="" class="imagen">
			</div>
		</div>
		<div class="derecha">
			<div class="item">
				<h2>Informacion</h2>
				<img src="html.png" alt="" width="100px">
			</div>
		</div>
	</div>
	<div class="footer">
		<h2>&copy; 2019</h2>
	</div>
</body>
</html>